<div style="margin-left: auto; margin-right: auto">
  <p id="postFeedback"></p>
</div>
<div>
  <!-- TODO 14 -->
  <form *ngIf="postForm" [formGroup]="postForm" (ngSubmit)="savePost()">
    <div>
      <label for title>Title: </label>
      <input type="text" [formControl]="title">

      <span *ngIf="title.errors">
        <span *ngIf="title.errors && isValidForm != null && !isValidForm" [ngClass]="'error'">
          <span *ngIf="title.errors['required']">Title is required</span>
          <span *ngIf="title.errors['maxlength']">Title must have less than 26 characters</span>
        </span>
      </span>
    </div>

    <div>
      <label for="description">Description: </label>
      <input type="text" [formControl]="description">

      <span *ngIf="description.errors">
        <span *ngIf="description.errors && isValidForm != null && !isValidForm" [ngClass]="'error'">
          <span *ngIf="description.errors['required']">Description is required</span>
          <span *ngIf="description.errors['maxlength']">Description must have less than 26 characters</span>
        </span>
      </span>
    </div>

    <div>
      <label form="publication_date">Publication date:</label>
      <input type="date" [formControl]="publication_date">

      <span *ngIf="publication_date.errors">
        <span *ngIf="description.errors && isValidForm != null && !isValidForm" [ngClass]="'error'">
          <span *ngIf="description.errors['required']">Publication date is required</span>
        </span>
      </span>
    </div>
    <div>
      <label form="categories">Choose categories</label>
      <select [formControl]="categories" size="4" multiple>
        <option *ngFor="let category of allCategories" [ngValue]="category" (ngChecked)="checkSelectedCategories(category)">
          {{ category.title }}
          <span *ngIf="checkSelectedCategories(category)">*</span>
        </option>
      </select>

    </div>
    <button type="submit">SAVE</button>
  </form>
</div>
